.component {
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  border-radius: 50%;
  border: solid 1px black;
  text-align: center;
  cursor: pointer;
}

.v6 {
  background-color: darkblue;
  color: white;
}

.v5 {
  background-color: darkred;
  color: white;
}

.v4 {
  background-color: orange;
  color: black;
}

.v3 {
  background-color: green;
  color: black;
}

.v2 {
  background-color: cornflowerblue;
  color: black;
}

.v1 {
  background-color: white;
  color: black;
}

.v0 {
  background-color: gray;
  color: black;
}